version: '3.8'

services:
  # 1. JENKINS (The Pipeline Manager)
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins-server
    user: root
    ports:
      - "8081:8080"    # <--- FIXED: Moved to 8081 to avoid conflict
      - "50000:50000"
    volumes:
      - jenkins_data:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      - devsecops-net

  # 2. SONARQUBE (The Code Scanner)
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube-server
    ports:
      - "9000:9000"
    environment:
      - SONAR_JDBC_URL=jdbc:postgresql://db:5432/sonar
      - SONAR_JDBC_USERNAME=sonar
      - SONAR_JDBC_PASSWORD=sonar
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
    depends_on:
      - db
    networks:
      - devsecops-net

  # 3. DATABASE (For SonarQube)
  db:
    image: postgres:13
    container_name: sonarqube-db
    environment:
      - POSTGRES_USER=sonar
      - POSTGRES_PASSWORD=sonar
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - devsecops-net

volumes:
  jenkins_data:
  sonarqube_data:
  sonarqube_extensions:
  postgres_data:

networks:
  devsecops-net: