name: The Gatekeeper (CI Checks)

# Trigger: Run this on every push to the main branch
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # CHECK 1: CODE QUALITY
  quality-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8
          if [ -f PHASE1/requirements.txt ]; then pip install -r PHASE1/requirements.txt; fi

      - name: Run Flake8 (Linting)
        # This checks for syntax errors and messy code
        # We allow some flexibility (--max-line-length=127)
        run: |
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

  # CHECK 2: SECURITY (DEPENDENCIES)
  security-check:
    runs-on: ubuntu-latest
    needs: quality-check  # Only run if code quality passes
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Run Trivy Vulnerability Scanner (Filesystem)
        uses: aquasecurity/trivy-action@master
        with:
          scan-type: 'fs'
          scan-ref: '.'
          trivy-config: trivy.yaml
          severity: 'CRITICAL,HIGH'
          ignore-unfixed: true


  # ... (your existing jobs: quality-check, security-check) ...

  # NEW JOB: WAKE UP JENKINS
  trigger-jenkins:
    needs: [quality-check, security-check] # ONLY runs if both previous checks pass
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Jenkins Build
        env:
          # This is the ngrok URL you created earlier
          JENKINS_URL: "https://maximiliano-unimperialistic-nonantagonistically.ngrok-free.dev"
          USER: "tarun"  # Your Jenkins Username
          TOKEN: "StartBuildNow" # The token you just set in Jenkins
        run: |
          # We use curl to hit the specific trigger URL
          curl -X POST "$JENKINS_URL/job/DevSecOps-Pipeline/build?token=$TOKEN"
          
          
          
